<!-- <h1>Lipsum Generator</h1> -->

<div class="container">
<div class="row">
<h1>NOBODY expects the Spanish Inquisition!<h1>
<img class="col-md-6">  <%= image_tag "image1.jpg" %></img>
<h2><%= link_to "Would you like to Leave #{@name}?", namer_path %><h2>
</div>
</div>
